/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "assets/scss/variables";
.p-slider .p-slider-range {
    background: $primary !important;
}

.p-slider .p-slider-handle {
    border: 2px solid $primary !important;
}

.p-steps .p-steps-item.p-highlight .p-steps-number {
    background: #E8F5E9  ;
    color: $primary !important;
    font-size: 30px !important;

}




.p-steps .p-steps-item  {
    .p-steps-number {

        font-size: 30px !important;

    }

    .p-menuitem-link  {
        background:  transparent !important;
        .p-steps-number {
            min-width: 3rem !important ;
            height: 3rem !important;
        }
    }
}

.offerCarousel {
    .rounded {
      border-radius: 2rem!important;
      border: 0.5px  solid #80808038;
    }
    .p-4 {
        padding: 0.2rem !important;
        max-width: 10.7rem;
        margin: 0.3rem;
    }
    .pricing-box .pricing-item li {
        padding: 5px 0;

    }
    .active {
      border: 1px  solid $primary;;
    }
}

.montantOffer {
    font-size: 30px;
    color : $primary;
}

.p-component {
  font-family: "Muli", sans-serif !important;
}

.errorMsg {
  color: #f44336;
}

.verdure {
  color : $primary;
}


.p-inputnumber, p-inputnumber {
    width: 100% !important;

}
